* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 15px;
}

.recommendation {
  border-top: 1px solid gray;
}

.free,
.nonfree {
  li::after {
    padding-left: 5px;
  }
}

.free li::after {
  content: "✔";
  color: green;
}

.nonfree li::after {
  content: "✗";
  color: red;
}

.apps {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}
